<div class="footer">

  <div class="footer-row">
    <div class="grid-footer">
      <div class="copy">
        <p>© Auyarox, 2021</p>
      </div>
      <div class="social-media">
        <i class="fab fa-facebook-square fb"></i>
        <i class="fab fa-instagram-square ins"></i>
        <i class="fab fa-youtube yt"></i>
        <i class="fab fa-linkedin in"></i>
        <i class="fab fa-github-square git"></i>
      </div>
      <div class="footer-nav">
        <div class="footer-display">
          <ul>
            <li><a href="#skills">Skills</a></li>
          </ul>
          <ul>
            <li><a href="#projects">Projects</a></li>
          </ul>
          <ul>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
