<div class="skills" id="skills">
  <h1 class="skills-title">Skills</h1>
  <div class="skills-row">
    <div class="skills-grid">
      <div class="skills-grid__left">
        <div class="skills-block">
          <p>CSS</p>
          <p>HTML</p>
          <p>EJS</p>
          <p>SCSS</p>
          <p>PUG</p>
          <p>JAVASCRIPT</p>
          <p>TYPESCRIPT</p>
          <p>RESPONSIVE WEB DESIGN</p>
        </div>
      </div>

      <div class="skills-grid__right">
        <div class="skills-block">
          <p>NODEJS</p>
          <p>ANGULAR</p>
          <p>GIT</p>
          <p>PHOTOSHOP</p>
          <p>FIGMA</p>
          <p>POSTMAN</p>
          <p>MYSQL</p>
          <p>MONGODB</p>
        </div>
      </div>
    </div>
  </div>
</div>
