<div class="projects" id="projects">
  <div class="projects-title">
    <h1>Projects</h1>
  </div>
  <div class="grid-projects" *ngIf="projects.length > 0">
    <div class="display-projects" *ngFor="let project of projects">
        <div class="projects-table">
          <img [src]="project.image" [alt]="project.web_url">
          <div class="projects-table__name">
            <p>{{ project.name }}</p>
          </div>
        </div>
    </div>
  </div>
  <div class="projects-error" *ngIf="projects.length <= 0">
    <p>There are no projects to be displayed. :(</p>
  </div>
</div>
