@import "../node_modules//@fortawesome/fontawesome-free/scss/brands.scss";
@import "../node_modules//@fortawesome/fontawesome-free/scss/solid.scss";
@import "../node_modules//@fortawesome/fontawesome-free/scss/fontawesome.scss";

// default
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: hsl(0, 0%, 100%);
  outline: none;
  font-family: 'Roboto', sans-serif;
}


// Colors
$background-color: hsl(0, 6%, 25%);
$blue-color: hsl(191, 79%, 45%);
$red-color: hsl(0, 75%, 46%);
$yellow-color: hsl(61, 90%, 50%);
$green-color: hsl(119, 57%, 18%);
$font-color: hsl(0, 0%, 100%);
